<form (submit)="save()" class="edit-element-form" [formGroup]="elementForm">
  <mat-form-field>
    <mat-label>Position</mat-label>
    <input type="number" matInput formControlName="position" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Weight</mat-label>
    <input type="number" matInput formControlName="weight" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Symbol</mat-label>
    <input matInput formControlName="symbol" />
  </mat-form-field>

  <button mat-stroked-button [disabled]="elementForm.invalid">Save</button>
  <button type="button" mat-stroked-button (click)="cancel()" color="warn">
    Cancel
  </button>
</form>
