.list-action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.list-action-header {
  text-align: center;
}

.list-table-container {
  max-width: 100%;
  overflow: auto;
}
