@use "@angular/material" as mat;
@include mat.core();

$dark-primary: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$cyan-palette,
    ),
  )
);

$light-primary: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$chartreuse-palette,
    ),
  )
);

$light-accent: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$orange-palette,
    ),
  )
);

$dark-accent: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$orange-palette,
    ),
  )
);

$light-danger: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$red-palette,
    ),
  )
);

$dark-danger: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$red-palette,
    ),
  )
);

body {
  @include mat.all-component-themes($light-primary);
  @include mat.fab-color($light-accent);

  .danger {
    @include mat.all-component-colors($light-danger);
  }
}

.dark-theme {
  @include mat.all-component-colors($dark-primary);
  @include mat.fab-color($dark-accent);
  @include mat.slide-toggle-color($dark-accent);

  .danger {
    @include mat.all-component-colors($dark-danger);
  }
}
