@use "@angular/material" as mat;
@include mat.core();

$dark-cyan: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$cyan-palette,
    ),
  )
);

$light-cyan: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$cyan-palette,
    ),
  )
);

$light-orange: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$orange-palette,
    ),
  )
);

$light-danger: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$red-palette,
    ),
  )
);

$dark-orange: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$orange-palette,
    ),
  )
);

$dark-danger: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$red-palette,
    ),
  )
);

body {
  @include mat.all-component-themes($light-orange);

  .danger {
    @include mat.all-component-colors($light-danger);
  }
}

.dark-theme {
  @include mat.all-component-colors($dark-cyan);
  @include mat.fab-color($dark-orange);
  @include mat.slide-toggle-color($dark-orange);

  .danger {
    @include mat.all-component-colors($dark-danger);
  }
}
